<!-- footer -->
<footer>
  <div class="container-fluid">
    <p class="copyright">&copy; Copyright 2020, Designed &amp; Developed by <a href="https://themefisher.com/">Themefisher</a></p>
  </div>
</footer>
<!-- end footer -->

<!-- back to top -->
<a href="#!" class="cd-top"><i class="ion-android-arrow-up"></i></a>
<!-- end back to top -->


<!-- jQuery -->
<script src="plugins/jquery.min.js"></script>

<!-- Plugins Needed for this Project -->
<script src="plugins/bootstrap/bootstrap.min.js"></script>
<script src="plugins/menu.js"></script>
<script src="plugins/animated-headline/animated-headline.js"></script>
<script src="plugins/shuffle/shuffle.min.js"></script>

<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcABaamniA6OL5YvYSpB3pFMNrXwXnLwU" defer></script>
<script src="plugins/google-map/map.js" defer></script>

<!-- Main Script -->
<script src="js/script.js"></script>

</body>

</html>