<!-- portfolio_container -->
<div class="row no-gutters portfolio_container">
  <!-- single work -->
  <div class="col-lg-3 col-sm-6 fashion logo">
    <a href="single-project.html" class="portfolio_item">
      <img src="images/portfolio/01.jpg" alt="image" class="img-fluid" />
      <div class="portfolio_item_hover">
        <div class="item_info">
          <span>Mockups in seconds</span>
          <em>Fashion / Logo</em>
        </div>
      </div>
    </a>
  </div>
  <!-- end single work -->

  <!-- single work -->
  <div class="col-lg-3 col-sm-6 ads graphics">
    <a href="single-project.html" class="portfolio_item">
      <img src="images/portfolio/03.jpg" alt="image" class="img-fluid" />
      <div class="portfolio_item_hover">
        <div class="item_info">
          <span>Floating mockups</span>
          <em>Ads / Graphics</em>
        </div>
      </div>
    </a>
  </div>
  <!-- end single work -->

  <!-- single work -->
  <div class="col-sm-6 photography">
    <a href="single-project.html" class="portfolio_item">
      <img src="images/portfolio/02.jpg" alt="image" class="img-fluid" />
      <div class="portfolio_item_hover">
        <div class="item_info">
          <span>Photorealistic smartwatch</span>
          <em>Photography</em>
        </div>
      </div>
    </a>
  </div>
  <!-- end single work -->

  <!-- single work -->
  <div class="col-lg-3 col-sm-6 fashion ads">
    <a href="single-project.html" class="portfolio_item">
      <img src="images/portfolio/04.jpg" alt="image" class="img-fluid" />
      <div class="portfolio_item_hover">
        <div class="item_info">
          <span>Held by hands</span>
          <em>Fashion / Ads</em>
        </div>
      </div>
    </a>
  </div>
  <!-- end single work -->

  <!-- single work -->
  <div class="col-lg-3 col-sm-6 graphics ads">
    <a href="single-project.html" class="portfolio_item">
      <img src="images/portfolio/05.jpg" alt="image" class="img-fluid" />
      <div class="portfolio_item_hover">
        <div class="item_info">
          <span>Mobile devices</span>
          <em>Graphics / Ads</em>
        </div>
      </div>
    </a>
  </div>
  <!-- end single work -->

  <!-- single work -->
  <div class="col-sm-6 photography">
    <a href="single-project.html" class="portfolio_item">
      <img src="images/portfolio/010.jpg" alt="image" class="img-fluid" />
      <div class="portfolio_item_hover">
        <div class="item_info">
          <span>Photorealistic smartwatch</span>
          <em>Photography</em>
        </div>
      </div>
    </a>
  </div>
  <!-- end single work -->

  <!-- single work -->
  <div class="col-lg-3 col-sm-6 graphics ads">
    <a href="single-project.html" class="portfolio_item">
      <img src="images/portfolio/06.jpg" alt="image" class="img-fluid" />
      <div class="portfolio_item_hover">
        <div class="item_info">
          <span>Mobile devices</span>
          <em>Graphics / Ads</em>
        </div>
      </div>
    </a>
  </div>
  <!-- end single work -->

  <!-- single work -->
  <div class="col-lg-3 col-sm-6 graphics ads">
    <a href="single-project.html" class="portfolio_item">
      <img src="images/portfolio/07.jpg" alt="image" class="img-fluid" />
      <div class="portfolio_item_hover">
        <div class="item_info">
          <span>Mobile devices</span>
          <em>Graphics / Ads</em>
        </div>
      </div>
    </a>
  </div>
  <!-- end single work -->

  <!-- single work -->
  <div class="col-lg-3 col-sm-6 graphics ads">
    <a href="single-project.html" class="portfolio_item">
      <img src="images/portfolio/08.jpg" alt="image" class="img-fluid" />
      <div class="portfolio_item_hover">
        <div class="item_info">
          <span>Mobile devices</span>
          <em>Graphics / Ads</em>
        </div>
      </div>
    </a>
  </div>
  <!-- end single work -->

  <!-- single work -->
  <div class="col-lg-3 col-sm-6 graphics ads">
    <a href="single-project.html" class="portfolio_item">
      <img src="images/portfolio/09.jpg" alt="image" class="img-fluid" />
      <div class="portfolio_item_hover">
        <div class="item_info">
          <span>Mobile devices</span>
          <em>Graphics / Ads</em>
        </div>
      </div>
    </a>
  </div>
  <!-- end single work -->
</div>
<!-- end portfolio_container -->